doc_classification/config.py
doc_classification_app/model_data/shuffled-full-set-hashed.csv
*.pyc
env/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
