{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Home - Document Classification System {% endblock %}

{% block imports %}{% endblock %}

{% block content %}

<script>
  function formIsComplete(){
    return document.getElementById("textInput").value != "";
  }

  function getPrediction(){

    if (formIsComplete()){
      $.ajax({
        url: "/get_prediction/",
        type: "POST",
        data: {
          words: JSON.stringify(document.getElementById("textInput").value)
        },
        success: function(response){
          console.log(response);

          // hide form
          document.getElementsByClassName("formFlexbox")[0].style.display = "none";

          //update header
          document.getElementById("titleHeader").innerText = response

        },
        error: function(xhr, error_message, err){
          var response = xhr.responseJSON;
          console.log(response);
        }
      });
    }else{
      alert("Please complete the form");
    }
  }
</script>

<style>
  /*Hide both file inputs and submit button*/
  #textInput, #submitButton {
    width: 80%;
  }

  .formFlexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .jumbotron {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
  }
</style>


  <div class="jumbotron">
    <h1 id="titleHeader" style="text-align:center">
      Document Classification System
    </h1>

    <form class="formFlexbox">
      <textarea id="textInput" class="form-control flexItem" placeholder="Enter words separated by spaces."></textarea>

      <br>
      <button id="submitButton" class="btn btn-primary form-control flexItem" type="button" onclick="getPrediction()" name="button">
        Submit File
      </button>
    </form>

  </div>



{% endblock %}
